<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="css/backstyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js"></script>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#times', //指定元素
                format: 'yyyy-MM-dd HH:mm:ss', //可任意组合
                trigger: 'click',
                type: 'datetime'
            });
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">表单</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>添加用户信息</span></div>
    <form action="user/addUser" method="post">
        <ul class="forminfo">
            <li><label>用户名</label><input name="userName" type="text" class="dfinput" /></li>
            <li><label>密码</label><input name="pwd" type="text" class="dfinput"/></li>
            <li><label>昵称</label><input name="nickName" type="text" class="dfinput" /></li>
            <li><label>角色</label>
                <select name="isadmin" class="dfinput">
                    <option value="null">请选择</option>
                    <option th:value="是">管理员</option>
                    <option th:value="否">普通用户</option>
               </select>
            </li>
            <li><label>性别</label>
                <select name="sex" class="dfinput">
                <option value="null">请选择</option>
                <option th:value="男">男</option>
                <option th:value="女">女</option>
            </select>
            </li>
            <li><label>出生日期</label><input name="birthday" type="text" class="dfinput" id="times" /></li>
            <li><label>电子邮箱</label><input type="text" name="email" class="dfinput"/></li>
            <li><label>电话号码</label><input name="phone" type="text" class="dfinput" /></li>
            <li><label>地址</label><input type="text" name="address"class="dfinput" /></li>
            <li><label>邮编</label><input name="codes" type="text" class="dfinput" /></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>