<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.IAddressMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shouhuoren" jdbcType="VARCHAR" property="shouhuoren" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="isdefault" jdbcType="VARCHAR" property="isdefault" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>
  <!--根据用户id查询地址集合-->
  <select id="getAddressListByUid" resultMap="BaseResultMap">
      select * from t_address where userid=#{uid}
  </select>
</mapper>